* {
    margin: 0px;
    padding: 0px;

}

.nav-contant {
    display: flex;
    background-color: rgb(79, 156, 177);
    justify-content: space-around;
    padding: 10px;
}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.banner-container {
    height: 100vh;
    background-image: url('./asset/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;


}

.primary {
    color: red;
}

.banner-title {
    font-size: 55px;
    font-weight: bold;
}

.banner-description {
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.btn {
    padding: 12px 20px;
    border: none;
    background-color: red;
}

.btn-primary {
    background-color: white;

}
.service-container{
    height: 100vh;
    background-color:black;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center; 
    display: flex;   
}
.icon{
    width:50px;
    margin-top: 50px;
}
.box{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    

}
